node_modules
.idea
.cache/
dist/
package-lock.json

Design Patterns/.DS_Store
Applications/vue-demo/.DS_Store
Applications/.DS_Store
Design Patterns/.DS_Store
Applications/.DS_Store
.DS_Store
Design Patterns/.DS_Store
Applications/.DS_Store
GraphQL/quote-generator-backend/server.js
