<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js practicum</title>
</head>
<body>
<h1>Exploring Vue.js with libraries: axios, swapi.co </h1>
<h2>This app will ask StarWars API for ship names.</h2>
    <div id="app"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            searchText: "",
            results: []
        },
        methods: {
            search: function() {
                axios
                    .get(`https://swapi.co/api/starships/?search=${this.searchText}`)
                    .then(response => {
                        this.results = response.data;
                    });
            } },
        watch: {
            searchText: function(newSearchText, oldSearchText) {
                this.search();
            }
        },
        template: `
    <div>
        <label>Search:<input type="text" v-model="searchText" /></label>
            <h5>Results: <small>{{results.count}}</small></h5>
                <ul>
                  <li v-for="result in results.results">
                    {{result.name}}
                  </li>
                </ul>
    </div>`
});

</script>
</html>
